:root{
  /* ### Primary */
  --clr-Tomato: hsl(4, 100%, 67%);

/* ### Neutral */
  --clr-Dark-Slate-Grey: hsl(234, 29%, 20%);
  --clr-Charcoal-Grey: hsl(235, 18%, 26%);
  --clr-Grey: hsl(231, 7%, 60%);
  --clr-White: hsl(0, 0%, 100%);

  /* Fonts  */
  --font: 'Roboto', sans-serif;
}

/* CSS RESET  */
/* 1. Use a more-intuitive box-sizing model.*/
 *, *::before, *::after { 
 box-sizing: border-box;
 } 
 /*
 2. Remove default margin
 */
 * {
 margin: 0;
 }
 /*
 Typographic tweaks!
 3. Add accessible line-height
 4. Improve text rendering 
 */
 body {
 line-height: 1.5;
 -webkit-font-smoothing: antialiased;
 font-family: var(--font);
}
 /*
 5. Improve media defaults
 */
 img, picture, video, canvas, svg {
display: block;
max-width: 100%;
height: auto;
}
 /*
 6. Remove built-in form typography styles
*/
 input, button, textarea, select {
font: inherit;
}
 /*
 7. Avoid text overflows
 */
 p, h1, h2, h3, h4, h5, h6 {
 overflow-wrap: break-word;
 }

 html, body {
  min-height: 100vh;
 }

 /* Basic Styling  */

 button,input {
  cursor: pointer;
 }

 @media(min-width:376px)
 {
  body {
    display: grid;
    align-content: center;
  }
  .content {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 400px;
    margin-right: 1.5rem;
  }
  .sign-up{
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--clr-White);
    max-width: fit-content;
    margin:auto;
    padding: 1rem;
    border-radius: 20px;
  }
  body {
    background-color: var(--clr-Charcoal-Grey);
  }
  .content h1 {
    font-size: 3rem;
  }
  .list-item{
    margin-bottom: 0.6rem;
  }
  .success {
    background-color: var(--clr-White);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 2rem 3rem 2rem;
    border-radius: 15px;
  }
  .success h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-block: 2rem 1rem;
   }
   .success button {
    margin-top: 2rem;
   }
 }

 @media(max-width: 375px){
  .content h1 {
    font-size: 1.9rem;
  }
  .success {
    padding: 6rem 1.2rem 1.65rem 1.2rem;
    min-height: 100vh;
    display: grid;
    align-content: space-between;
   } 
   .success h1 {
    font-size: 2rem;
    line-height: 1.85rem;
    margin-block: 2rem 1rem;
   }
 }

 button {
  transition-duration: 300ms;
  transition-property: scale;
 }

 button:hover{
  scale: 1.05;
  background: linear-gradient(to right,hsl(347, 100%, 66%),hsl(13, 100%, 62%));
  box-shadow: 0 10px 15px hsla(347, 100%, 66%,0.5);
 }
 
 input:is(:hover,:active) {
  border: 2px solid hsla(231, 7%, 60%,1);
  color: black;
 }

 .content h1 {
  margin-bottom: 1rem;
 }
 p {
  font-size: 16px;
 }
 .list {
  margin-bottom: 1.7rem;
 } 

 .app {
  overflow: hidden;
 }

 .content {
  padding: 1.65rem 1.2rem;
 }

 .join {
  margin-bottom: 1rem;
 }

 .list-item {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
 }

 .email-label {
  font-weight: 700;
  font-size: 14px;
 }

 .error-label {
  float: right;
  font-size: 14px;
 }

 form input {
  margin-top: 0.3rem;
  width: 100%;
  margin-bottom: 1.2rem;
  padding: 0.8rem;
  color: hsla(231, 7%, 60%,0.4);
  border: none;
  border: 2px solid hsla(231, 7%, 60%,0.4);
  border-radius: 8px;
 }

 button {
  width: 100%;
  border: none;
  padding: 0.8rem;
  background-color: var(--clr-Dark-Slate-Grey);
  color: var(--clr-White);
  border-radius: 8px;
 }

 .error-label {
  color: var(--clr-Tomato);
  font-weight: 700;
 }

 .error-input {
  background-color: hsla(4, 100%, 67%,0.15);
  border: 3px solid hsla(4, 100%, 67%,0.5);
 } 

 .success img {
  width: 45px;
 }